<!DOCTYPE html>
<html>
<head>
    <title>Producto Registrado</title>
</head>

<style>
  

</style>



<body>
    <h1>Producto Registrado Exitosamente</h1>
    <p>El producto ha sido registrado correctamente.</p>
    <button onclick="window.location.href='/'">Regresar al Inicio</button>
</body>
</html>
