<!DOCTYPE html>
<html>
<head>
    <title>Producto Registrado</title>
</head>


<style>
    body {
        font-family: Arial, sans-serif;
        margin: 0;
        padding: 0;
        background-color: #f0f0f0;
    }

    h1 {
        text-align: center;
        margin-top: 20px;
    }

    button {
        padding: 5px 10px;
        background-color: #007bff;
        color: white;
        border: none;
        cursor: pointer;
    }

    button:hover {
        background-color: #0056b3;
    }
</style>


<body>
    <h1>Producto Registrado Exitosamente</h1>
    <p>El producto ha sido registrado correctamente.</p>
    <button onclick="window.location.href='/'">Regresar al Inicio</button>
</body>
</html>
